@mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @mixin flex-center-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
  }  
  @mixin flex-center-vert {
    display: flex;
    align-items: center;
  }
  
  @mixin flex-center-horiz {
    display: flex;
    justify-content: center;
  }
  @mixin flex-center-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin center{
    width: 80%;
    margin: 0px auto;
}