
$bg-color: #F4F9FC;
$primary: #0F1B61;
$secondary: #1C494C;
$gray: #DCDCDC;
$base-padding: 0.75rem;
$base-margin: 0.75rem;
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
$medium-font-size: 2rem;
$xl-font-size: 3rem;
$semibold-weight: 600;