
@import 'base';
@import 'variables';
@import 'mixin';
@import "responsive";
header {
    @include center;
    @include flex-center;
     #logo {
             @include flex-center;
             font-weight: bold;
             margin-top: 10px;
             font-size: $medium-font-size;
     }
     .navhr {
        width: 100%;
     }
}
#aboutme {
          @include flex-center-horiz;
          margin-top: 110px;
        .imgbox {
            width: 40%;
        }
        .textbox {
            width: 40%;
            text-align: center;
        }
        .textbox h1{
            font-size: 4.5rem;
        }
        .textbox h2{
            font-size: 2rem;
        }
}
#aboutme2 {
  @include flex-center-column;
  width: 80%;
  margin: 100px auto;
  text-align: center;
   .aboutText {
    margin-top: 20px;
   }
   .aboutText p{
    color: $secondary;
    font-size: $medium-font-size; 
   }
}
.buttn {
	padding:15px 45px;
    border: 3px solid $primary;
	display: inline-block;
	border-radius: 8px;
    &:hover {
       transition: 0.5s;
       background-color: $gray;
    }
}
#services{
    h1{
        text-align: center;
    }
    .holder{
        @include flex-center-wrap;
        @include center;
        .blocks{
            .inside-holder{
                margin: 10%;
            }
            width: 30%;
            background-color: $gray;
            border: 3px solid $primary;
            i{
                font-size: 26px;
                color: $primary;
            }
            p{
                color: $primary;
            }
        }
        .sec-three{
            margin-top: 40px;
        }
    }
}

#projects {
    h1{
        text-align: center;
    }
    .holder{
        @include flex-center-horiz;
        @include center;
        .blocks{
            .inside-holder{
                margin: 10%;
            }
    }
}
}
#contact{
    margin: 100px auto;
    background: linear-gradient(to left, $gray, #AADCEC);
    width: 80%;
    border-radius: 50px;
    @include flex-center-column;
    h1{
        text-align: center;
        margin-bottom: 20px;
}
   input,textarea{
        margin: 5px;
        padding: 5px 20px;
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
   }
   .btnform{
    cursor: pointer;
   }
}
footer{
    background-color: $gray;
    #row{
        @include flex-center-sb;
        padding: 20px 10px;
        font-size: 2rem;
    }
}
