@import 'base';
@import 'variables';
@import 'mixin';
@import "responsive.scss";
header {
    @include center;
    @include flex-center;
     #logo {
             @include flex-center;
             font-weight: bold;
             margin-top: 10px;
             font-size: $medium-font-size;
     }
     .navhr {
        width: 100%;
     }
}
#aboutme {
          @include flex-center-horiz;
          margin-top: 110px;
        .imgbox {
            width: 40%;
        }
        .textbox {
            width: 40%;
            text-align: center;
        }
        .textbox h1{
            font-size: 4.5rem;
        }
        .textbox h2{
            font-size: 2rem;
        }
}
#aboutme2 {
  @include flex-center-column;
  width: 80%;
  margin: 100px auto;
  text-align: center;
   .aboutText {
    margin-top: 20px;
   }
   .aboutText p{
    color: $secondary;
    font-size: $medium-font-size; 
   }
}
.buttn {
	padding:15px 45px;
    border: 3px solid $primary;
	display: inline-block;
	border-radius: 8px;
    &:hover {
       transition: 0.5s;
       background-color: $gray;
    }
}
#services{
    h1{
        text-align: center;
    }
    .holder{
        @include flex-center-wrap;
        @include center;
        .blocks{
            .inside-holder{
                margin: 10%;
            }
            width: 30%;
            background-color: $gray;
            border: 3px solid $primary;
            i{
                font-size: 26px;
                color: $primary;
            }
            p{
                font-family: 'Inter', sans-serif;
                color: $primary;
            }
        }
        .sec-three{
            margin-top: 40px;
        }
    }
}

#projects {
   @include center;
   h1 {
    text-align: center
   }
    #holder {
        .imgp{
            width: 20%;
            background-color: $gray;
            box-shadow: $base-box-shadow;
            text-align: center;
        }
    }
    .imgp img{
        width: 100%;
        max-height: 200px;
    }
}
#contact{
    margin: 100px auto;
    background: linear-gradient(to left, $gray, #AADCEC);
    width: 80%;
    border-radius: 50px;
    @include flex-center-column;
    h1{
        text-align: center;
        margin-bottom: 20px;
}
   input,textarea{
        margin: 5px;
        padding: 5px 20px;
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
   }
   .btnform{
    cursor: pointer;
   }
}
footer{
    background-color: $gray;
    #row{
        @include flex-center-sb;
        padding: 20px 10px;
        font-size: 2rem;
    }
}
@media screen and (max-width: 375px) {
    #services{
        margin-top: 50px;
        h1{
            margin-bottom: 50px;
        }
        .holder{
            width: 100% !important;
            .blocks{
                .inside-holder{
                    margin: 10%;
                }
            }
            .prim-three{
                margin-top: 40px;
            }
        }
    }
}
@media screen and (max-width: 426px) {
    h3{
        font-size: 18px !important;
    }
    #services{
        .holder{
            .blocks{
                p{
                    font-size: 14px !important;
                }
            }
        }
    }
}
@media screen and (max-width: 513px) {
    input, textarea{
        width: 90% !important;
    }
    #aboutme{
        .imgbox{
            margin-top: 60px;
            width: 95% !important;
        }
    }
    #services{
        margin-top: 50px;
        h1{
            margin-bottom: 50px;
        }
        .holder{
            .blocks{
                .inside-holder{
                    margin: 10%;
                }
                width: 100% !important;
            }
            .prim-three{
                margin-top: 40px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    header{
        nav ul li a{
            display: block !important;
        }
    }
    #aboutme{
        .imgbox{
            width: 70% !important;
        }
    }
    #services{
        .holder{
            .blocks{
                p{
                    font-size: 15px;
                }
                .h3{
                    font-size: 18px;
                }
}
        }
    }
}
@media screen and (max-width: 870px) {
    #aboutme{
        .imgbox{
            width: 60% !important;
        }
    }
    #aboutme2{
       .aboutText{
        p{
            font-size: 1.5rem;
        }
       }
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 20px;
    }
    #aboutme{
        @include flex-center-column;
        .textbox{
            h1{
                font-size: 2.5rem;
            }
            h2{
                font-size: 1.5rem;
            }
        }
    }
    #services{
        margin-top: 20px !important;
        h1{
            margin-bottom: 20px !important;
        }
        .holder{
            .blocks{
                .inside-holder{
                    margin: 10%;
                }
                width: 50% !important;
            }
            .prim-three{
                margin-top: 40px;
            }
        }
    }
}